$meliYellow:#FFE600;
$lightBlue:#3483FA;
$blackLetters:#333333;
$gray:#666666;
$lightGray:#999999;
$bodyColor:#EEEEEE;

.App {
  background-color: $bodyColor;
  min-height: 100vh;
  padding-bottom: 30px;
}
